@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200;1,300;1,600;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  background-color: #d6dde5;
  font-family: "Fira Sans", sans-serif; }

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0; }

h1 {
  color: #7d67ed;
  font-weight: 900;
  text-align: right;
  margin-right: 10px; }

h2 {
  text-align: center;
  margin: 2rem 0; }
  h2 span {
    font-weight: 200; }

@media (min-width: 280px) {
  .box {
    background-color: #fff; }
  .header_img {
    min-width: 20rem;
    background-position: center center;
    background-size: cover;
    height: 20rem;
    margin: 0; }
    .header_img i {
      color: #7d67ed;
      position: absolute;
      left: 115px;
      top: 4.8rem;
      font-weight: 900;
      font-size: 3rem; }
  .header_img h2 {
    color: #7d67ed;
    position: absolute;
    left: 140px;
    top: 4rem;
    font-weight: 900; }
  .box_purple {
    display: block;
    width: 9rem;
    height: 16rem;
    position: absolute;
    top: 50px;
    background-color: #7d67ed;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 2rem 2rem 1.5rem rgba(0, 0, 0, 0.25);
    z-index: 1; }
    .box_purple::after {
      content: "";
      position: absolute;
      /* A través del posicionamiento absoluto, establecemos los valores relacionados con la parte superior, izquierda, derecha e inferior, colocamos en la posición donde queremos colocar el triángulo */
      top: -5px;
      left: -30px;
      border-top: 30px solid #2e338d;
      /* Para ver más claramente, primero configure un color diferente del marco */
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      transform: rotate(45deg); }
    .box_purple::before {
      content: "";
      position: absolute;
      /* A través del posicionamiento absoluto, establecemos los valores relacionados con la parte superior, izquierda, derecha e inferior, colocamos en la posición donde queremos colocar el triángulo */
      bottom: 5px;
      left: -18px;
      border-top: 30px solid transparent;
      /* Para ver más claramente, primero configure un color diferente del marco */
      border-left: 30px solid #7d67ed;
      border-right: 30px solid transparent;
      transform: rotate(-45deg);
      z-index: 3; }
    .box_purple .box_blue {
      display: grid;
      place-items: center;
      width: 9rem;
      height: 8rem;
      position: absolute;
      top: 0rem;
      background-color: #2e338d;
      border-radius: 0 2rem 2rem 0; }
      .box_purple .box_blue img {
        color: white;
        width: 3rem; }
  .box_shadow {
    display: block;
    width: 9rem;
    height: 8rem;
    position: absolute;
    bottom: 0rem;
    background-color: #7d67ed;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0rem 2rem 1.5rem rgba(0, 0, 0, 0.25); }
  .description {
    color: white;
    font-weight: 600;
    display: grid;
    place-items: center;
    margin-top: -4rem; }
  .deg {
    color: white;
    text-align: center;
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 900; }
  /*forecast*/
  .container_movil {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto; }
  .forecast {
    min-width: 20rem;
    margin: 2rem auto; }
  .card-days {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: 8rem;
    margin-bottom: 1rem; }
    .card-days .icon {
      display: grid;
      place-items: center;
      color: #7d67ed; }
      .card-days .icon img {
        width: 3rem; }
    .card-days .texto {
      display: grid;
      place-items: center; }
      .card-days .texto .day {
        padding-top: 1rem;
        margin: 0 1rem -1rem 1rem;
        color: black; }
      .card-days .texto .description_days {
        padding-bottom: 1rem;
        margin: -1rem 1rem 0 1rem;
        color: black; }
    .card-days .deg_d {
      display: grid;
      place-items: center;
      width: 8rem;
      height: 8rem;
      background-color: #7d67ed;
      border-radius: 2rem; }
      .card-days .deg_d p {
        font-size: 1.8rem;
        font-weight: 900;
        color: white; }
  .place_tovisit {
    margin: 0 auto; }
  .places {
    margin: 2rem auto;
    min-width: 20rem;
    height: 25rem;
    background-image: url(../img/places/pueblo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 5px 15px 15px #7b7b7b85; }
    .places h3 {
      color: white;
      text-align: center;
      padding-top: 2.5rem;
      font-weight: 900; }
    .places p {
      color: white;
      text-align: center;
      margin: 0.5rem 0 0 0; }
  .places_u {
    margin: 2rem auto;
    min-width: 20rem;
    height: 10rem;
    background-image: url(../img/places/museo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem; }
    .places_u h3 {
      color: white;
      text-align: center;
      padding-top: 5rem; }
  .places_d {
    margin: 2rem auto;
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/places/mexico.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem; }
    .places_d h3 {
      color: black;
      margin: 10px;
      padding-top: 2rem; }
    .places_d .btn {
      height: 100%;
      width: 8rem;
      background-color: #7d67ed;
      color: white;
      font-size: 4rem;
      display: grid;
      place-items: center;
      border-radius: 2rem; }
      .places_d .btn:hover {
        cursor: pointer; }
  .other_cities {
    min-width: 23rem;
    margin: 2rem auto; }
    .other_cities .card_rigth {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 22rem;
      height: 13rem;
      margin: 0 auto 1.5rem auto;
      border-radius: 2rem;
      box-shadow: 5px 15px 15px #7b7b7b85;
      background-color: #fff; }
      .other_cities .card_rigth .flex_card {
        display: flex;
        justify-content: space-between; }
        .other_cities .card_rigth .flex_card .icon {
          width: 6.5rem;
          height: 6.5rem;
          background-color: #c7def4;
          display: grid;
          place-items: center;
          border-radius: 2rem 1rem 1rem 1rem; }
          .other_cities .card_rigth .flex_card .icon img {
            width: 3rem; }
        .other_cities .card_rigth .flex_card .deg_o {
          padding: 2rem 0.5rem;
          font-size: 2rem;
          font-weight: 900; }
          .other_cities .card_rigth .flex_card .deg_o .one {
            color: #949494;
            margin: 0; }
          .other_cities .card_rigth .flex_card .deg_o .two {
            color: #949494;
            font-size: 1.5rem;
            margin-top: -5px; }
        .other_cities .card_rigth .flex_card .coutry_city {
          padding: 1rem 0.5rem;
          font-weight: 900; }
      .other_cities .card_rigth .data {
        display: flex;
        flex: wrap;
        justify-content: space-between;
        padding: 1rem 0.5rem 1rem 0.5rem; }
        .other_cities .card_rigth .data .humidity {
          margin-right: 1rem; }
        .other_cities .card_rigth .data .deg_wind {
          margin-right: 1rem; }
  .add_more {
    margin: 1rem auto;
    min-width: 20rem;
    height: 15rem;
    background-image: url(../img/places/city.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .add_more h3 {
      color: #7d67ed;
      text-align: center;
      padding-top: 1rem; }
    .add_more i {
      display: block;
      margin-top: 1rem; }
    .add_more:hover {
      cursor: pointer; }
  .other_cities {
    margin: 0 auto;
    min-width: 20rem; }
    .other_cities i {
      font-size: 2rem; } }

@media (min-width: 320px) {
  .header_img i {
    left: 130px;
    top: 4.8rem; }
  .header_img h2 {
    left: 30%;
    top: 4rem; }
  .container_movil {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
  .forecast {
    min-width: 20rem;
    margin: 2rem auto; }
  .card-days {
    width: 22rem;
    height: 8rem;
    margin-bottom: 1rem; }
  .place_tovisit {
    margin: 1rem auto; }
  .places {
    min-width: 20rem;
    min-height: 25rem; }
  .place_two {
    margin: 0 auto; }
  .places_u {
    min-height: 10rem; }
  .places_d {
    min-height: 15rem; }
  .other_cities {
    min-width: 23rem;
    margin-top: 2rem auto; }
    .other_cities .card_rigth {
      width: 23rem;
      height: 12rem; }
  .add_more {
    margin: 2rem auto;
    min-width: 20rem;
    min-height: 15rem; } }

@media (min-width: 768px) {
  .container {
    width: 110rem;
    height: 100vh;
    margin: 0 auto; }
  .box {
    background-color: white;
    margin: 5rem 0 0 0;
    width: 110rem;
    height: 70rem;
    border-radius: 3rem;
    box-shadow: 25px 25px 20px #7b7b7b85; }
  header {
    position: relative;
    width: 100rem;
    height: 7rem;
    margin: 0 auto;
    padding-top: 5rem; }
    header .header_img {
      border-radius: 3rem;
      width: 100%; }
      header .header_img i {
        color: #7d67ed;
        position: absolute;
        left: 215px;
        top: 10rem;
        font-weight: 900;
        font-size: 3rem; }
  .header_img h2 {
    left: 250px;
    top: 100px;
    font-size: 4rem; } }

@media (min-width: 768px) {
  .box_purple {
    width: 10rem;
    height: 17rem;
    top: 6.5rem;
    left: -5rem; }
    .box_purple::after {
      top: 0;
      left: -19px;
      transform: rotate(45deg); }
    .box_purple::before {
      bottom: -30px;
      left: -15px;
      transform: rotate(90deg); }
    .box_purple .box_blue {
      width: 10rem;
      background-color: #2e338d; }
    .box_purple .box_shadow {
      width: 10rem;
      height: 9rem;
      bottom: 0rem; } }

@media (min-width: 768px) {
  .container_movil {
    width: 100%;
    margin-top: 20rem; }
  .forecast {
    margin-left: 20px;
    margin: 2.5rem 2rem; }
  .card-days {
    width: 20rem; }
  .place_tovisit {
    width: 25rem; }
  .places {
    min-height: 28rem; }
  .place_two {
    margin: 0; }
  .places_u {
    margin: 8rem 0 0 0;
    width: 25rem;
    height: 8rem; }
  .places_d {
    margin: 2rem 2rem;
    width: 30rem;
    height: 15rem; } }

@media (min-width: 768px) {
  .other_cities {
    z-index: 2000;
    margin-top: -10rem;
    margin-left: 1rem; }
  .card_rigth {
    width: 21rem;
    height: 11rem; }
  .data {
    padding: 1rem 0.5rem; }
  .add_more {
    margin-top: 4rem;
    width: 23rem;
    height: 15rem; } }
