@include tablet {
  .container {
    width: 110rem;
    height: 100vh;
    margin: 0 auto;
  }
  .box {
    background-color: white;
    margin: 5rem 0 0 0;
    width: 110rem;
    height: 70rem;
    border-radius: 3rem;
    box-shadow: 25px 25px 20px $grayShadow;
  }
  header {
    position: relative;
    width: 100rem;
    height: 7rem;
    margin: 0 auto;
    padding-top: 5rem;
    .header_img {
      border-radius: 3rem;
      width: 100%;
    }
  }
  .header_img h2 {
    left: 250px;
    top: 100px;
    font-size: 4rem;
  }
}
@include tablet {
  .box_purple {
    width: 10rem;
    height: 17rem;
    top: 6.5rem;
    left: -5rem;
    &::after {
      top: 0;
      left: -19px;
      transform: rotate(45deg);
    }
    &::before {
      bottom: -30px;
      left: -15px;
      transform: rotate(90deg);
    }
    .box_blue {
      width: 10rem;
      background-color: $blue;
    }
    .box_shadow {
      width: 10rem;
      height: 9rem;
      bottom: 0rem;
    }
  }
}
@include tablet {
  .container_movil {
    width: 100%;
    margin-top: 20rem;
  }
  .forecast {
    margin-left: 20px;
    margin: 2.5rem 2rem;
  }
  .card-days {
    width: 20rem;
  }
  .place_tovisit {
    margin: 2.5rem 2rem;
    width: 25rem;
  }
  .places {
    min-height: 28rem;
  }
  .place_two {
    margin: 0;
  }
  .places_u {
    margin: 9rem 2rem 0 2rem;
    width: 25rem;
    height: 8rem;
  }
  .places_d {
    margin: 2rem 4rem;
    width: 30rem;
    height: 15rem;
  }
}
@include tablet {
  .other_cities {
    z-index: 2000;
    position: absolute;
    margin-top: -10rem;
    right: 475px;
  }
  .card_rigth {
    height: 11rem;
  }
  .add_more {
    margin-top: 6.5rem;
    height: 15rem;
  }
}
