@include telefono {
  .box {
    background-color: #fff;
  }
  .header_img {
    min-width: 20rem;
    background-position: center center;
    background-size: cover;
    height: 20rem;
    margin: 0;
    & i {
      color: $purple;
      position: absolute;
      left: 138px;
      top: 4.8rem;
      font-weight: $letter_black;
      font-size: 3rem;
    }
  }
  .header_img h2 {
    color: $purple;
    position: absolute;
    left: 60%;
    top: 4rem;
    font-weight: $letter_black;
  }
  .box_purple {
    display: block;
    width: 9rem;
    height: 16rem;
    position: absolute;
    top: 50px;
    background-color: $purple;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 2rem 2rem 1.5rem rgba(0, 0, 0, 0.25);
    z-index: 1;
    &::after {
      content: "";
      position: absolute; /* A través del posicionamiento absoluto, establecemos los valores relacionados con la parte superior, izquierda, derecha e inferior, colocamos en la posición donde queremos colocar el triángulo */
      top: -5px;
      left: -30px;
      border-top: 30px solid $blue; /* Para ver más claramente, primero configure un color diferente del marco */
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute; /* A través del posicionamiento absoluto, establecemos los valores relacionados con la parte superior, izquierda, derecha e inferior, colocamos en la posición donde queremos colocar el triángulo */
      bottom: 5px;
      left: -18px;
      border-top: 30px solid transparent; /* Para ver más claramente, primero configure un color diferente del marco */
      border-left: 30px solid $purple;
      border-right: 30px solid transparent;
      transform: rotate(-45deg);
      z-index: 3;
    }
    .box_blue {
      display: grid;
      place-items: center;
      width: 9rem;
      height: 8rem;
      position: absolute;
      top: 0rem;
      background-color: $blue;
      border-radius: 0 2rem 2rem 0;
      & img {
        color: white;
        width: 3rem;
      }
    }
  }
  .box_shadow {
    display: block;
    width: 9rem;
    height: 8rem;
    position: absolute;
    bottom: 0rem;
    background-color: $purple;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0rem 2rem 1.5rem rgba(0, 0, 0, 0.25);
  }
  .description {
    color: white;
    font-weight: $letter_normal;
    display: grid;
    place-items: center;
    margin-top: -4rem;
  }
  .deg {
    color: white;
    text-align: center;
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: $letter_black;
  }
  /*forecast*/
  .container_movil {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .forecast {
    min-width: 20rem;
    margin: 2rem 0;
  }
  .card-days {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: 8rem;
    margin-bottom: 1rem;

    .icon {
      display: grid;
      place-items: center;
      color: $purple;
      & img {
        width: 3rem;
      }
    }

    .texto {
      display: grid;
      place-items: center;
      .day {
        padding-top: 1rem;
        margin: 0 1rem -1rem 1rem;
        color: black;
      }
      .description_days {
        padding-bottom: 1rem;
        margin: -1rem 1rem 0 1rem;
        color: black;
      }
    }

    .deg_d {
      display: grid;
      place-items: center;
      width: 8rem;
      height: 8rem;
      background-color: $purple;
      border-radius: 2rem;
      & p {
        font-size: 1.8rem;
        font-weight: $letter_black;
        color: white;
      }
    }
  }

  .places {
    margin: 2rem 0;
    min-width: 20rem;
    height: 25rem;
    background-image: url(../img/places/pueblo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 5px 15px 15px $grayShadow;
    & h3 {
      color: white;
      text-align: center;
      padding-top: 2.5rem;
      font-weight: $letter_black;
    }
    & p {
      color: white;
      text-align: center;
      margin: 0.5rem 0 0 0;
    }
  }

  .places_u {
    margin: 2rem auto;
    min-width: 20rem;
    height: 10rem;
    background-image: url(../img/places/museo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    & h3 {
      color: white;
      text-align: center;
      padding-top: 5rem;
    }
  }
  .places_d {
    margin: 2rem auto;
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/places/mexico.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    & h3 {
      color: black;
      margin: 10px;
      padding-top: 2rem;
    }
    .btn {
      height: 100%;
      width: 8rem;
      background-color: $purple;
      color: white;
      font-size: 4rem;
      display: grid;
      place-items: center;
      border-radius: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .other_cities {
    min-width: 23rem;
    margin: 2rem auto;
    .card_rigth {
      display: flex;
      flex-direction: column;
      width: 21rem;
      height: 11rem;
      margin: 0 auto 2rem auto;
      border-radius: 2rem;
      box-shadow: 5px 15px 15px $grayShadow;
      background-color: #fff;

      .flex_card {
        display: flex;
        justify-content: space-between;

        .icon {
          width: 6.5rem;
          height: 6.5rem;
          background-color: $blu_sky;
          display: grid;
          place-items: center;
          border-radius: 2rem 1rem 1rem 1rem;
          & img {
            width: 3rem;
          }
        }
        .deg_o {
          padding: 2rem 0.5rem;
          font-size: 2rem;
          font-weight: $letter_black;
          & .one {
            color: $letter_gray;
            margin: 0;
          }
          & .two {
            color: $letter_gray;
            font-size: 1.5rem;
            margin-top: -5px;
          }
        }
        .coutry_city {
          padding: 2rem 1rem;
          font-weight: $letter_black;
        }
      }
      .data {
        display: flex;
        flex: wrap;
        justify-content: space-between;
        padding: 1rem 0.5rem 1rem 0;

        .humidity {
          margin-right: 1rem;
        }
        .deg_wind {
          margin-right: 1rem;
        }
      }
    }
  }

  .add_more {
    margin: 1rem auto;
    min-width: 20rem;
    height: 15rem;
    background-image: url(../img/places/city.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    & h3 {
      color: $purple;
      text-align: center;
      padding-top: 1rem;
    }
    & i {
      display: block;
      margin-top: 1rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .other_cities {
    margin: 0 auto;
    min-width: 20rem;
    & i {
      font-size: 2rem;
    }
  }
}
