@include telefonox {
  .container_movil {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .forecast {
    min-width: 20rem;
    margin: 2rem auto;
  }
  .card-days {
    width: 22rem;
    height: 8rem;
    margin-bottom: 1rem;
  }
  .place_tovisit {
    margin: 1rem auto;
  }
  .places {
    min-width: 20rem;
    min-height: 25rem;
  }
  .place_two {
    margin: 0 auto;
  }
  .places_u {
    min-height: 10rem;
  }
  .places_d {
    min-height: 15rem;
  }
  .other_cities {
    min-width: 23rem;
    margin-top: 2rem auto;
    .card_rigth {
      width: 22rem;
      height: 12rem;
    }
  }
  .add_more {
    margin: 2rem auto;
    min-width: 20rem;
    min-height: 15rem;
  }
}
