$font: "Fira Sans", sans-serif;
$letter_black: 900;
$letter_normal: 600;
$letter_ligth: 300;
$letter_xs: 200;

//colores
$background_body: #d6dde5;
$purple: #7d67ed;
$blue: #2e338d;
$blu_sky: #c7def4;

$letter_gray: #949494;
$grayShadow: #7b7b7b;
$shadows: #d0cdcd;
